@using BlazorHomeSite.Services;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Options;
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

@inject IOptions<AppAdminOptions>? AppAdminOptions;
@inject RoleManager<IdentityRole> RoleManager;
@inject UserManager<IdentityUser> UserManager;

<PageTitle>Iris's Home Page</PageTitle>

<MudLayout>
    <MudAppBar Dense="true">
        @if (AppAdminOptions != null &&
        AppAdminOptions.Value != null &&
        AppAdminOptions.Value.ShowInitAdminButton.HasValue &&
        AppAdminOptions.Value.ShowInitAdminButton.Value)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Start" OnClick=InitAdmin></MudIconButton>
        }

        <MudNavLink Href="/"
                    IconColor="@Color.Secondary"
                    Icon="@Icons.Material.Filled.Home"
                    Match="NavLinkMatch.All">
            Home
        </MudNavLink>


        <MudNavLink Icon="@Icons.Material.Filled.Photo"
                    IconColor="Color.Tertiary"
                    Href="/photoAlbumsPage"
                    Match="NavLinkMatch.Prefix">
            Photos
        </MudNavLink>


        <MudNavLink Href="/musicAlbumsPage"
                    IconColor="Color.Primary"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.Note">
            Blog
        </MudNavLink>


        <MudNavLink Href="/musicAlbumsPage"
                    IconColor="Color.Primary"
                    Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Filled.MusicNote">
            Music
        </MudNavLink>

        <MudSwitch ThumbIcon="@Icons.Material.Filled.SupervisedUserCircle" @bind-Checked="@PopoverOpen">

        </MudSwitch>
       
        <MudPopover Open="@PopoverOpen" AnchorOrigin="Origin.TopCenter">
  
                <MudText>User Options</MudText>
                <CascadingAuthenticationState>

                    <AuthorizeView Roles="Admin">
                        <MudNavLink Href="/SiteConfigPage"
                                    IconColor="Color.Surface"
                                    Match="NavLinkMatch.Prefix"
                                    Icon="@Icons.Material.Filled.Settings">
                            Site Config
                        </MudNavLink>
                    </AuthorizeView>

                    <AuthorizeView>
                        <Authorized>

                            <MudNavLink Href="Identity/Account/Manage"
                                        Icon="@Icons.Material.Filled.ManageAccounts">
                                <MudText Typo="@Typo.subtitle2">
                                    User Settings
                                </MudText>
                            </MudNavLink>

                            <form method="post" action="Identity/Account/Logout" style="margin-left:17px">
                                <MudIcon Icon="@Icons.Material.Filled.Logout" />
                                <button style="margin-bottom:12px; margin-left:5px"
                                        type="submit"
                                        class="nav-link btn btn-link">
                                    Log out
                                </button>
                            </form>


                        </Authorized>

                        <NotAuthorized>

                            <MudNavLink Icon="@Icons.Material.Filled.AppRegistration"
                                        Href="Identity/Account/Register">
                                Register
                            </MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.Login"
                                        Href="Identity/Account/Login">
                                Login
                            </MudNavLink>

                        </NotAuthorized>

                    </AuthorizeView>

                </CascadingAuthenticationState>
        </MudPopover>

    </MudAppBar>

    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {

    public static string ScreenTitle { get; set; } = "somewhere??";

    public bool PopoverOpen { get; private set; }

    public MainLayout()
    {
        PopoverOpen = false;
    }

    private void ToggleUserPopover()
    {
        PopoverOpen = !PopoverOpen;
    }

    private async Task InitAdmin()
    {
        const string adminRoleName = "Admin";
        var users = await UserManager.GetUsersInRoleAsync(adminRoleName);
    
        if (AppAdminOptions != null)
        {
            await RoleManager.CreateAsync(new IdentityRole(adminRoleName));
            var adminEmail = AppAdminOptions.Value.AdminEmailAddress;
            if (adminEmail != null)
            {
                var userWithAdmin = await UserManager.FindByEmailAsync(adminEmail);
                if (userWithAdmin != null)
                {
                    await UserManager.AddToRoleAsync(userWithAdmin, "Admin");
                }
            }
        }
    }
}