@page "/photo/{albumId}/{photoId}"

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<style type="text/css">
    .backOutDown {
        animation-duration: 0.5s;
        animation-name: backOutDown;
        animation-fill-mode: forwards;
    }
</style>

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="margin-top:10px">
    <MudStack Spacing="0" Justify="Justify.Center">
            <MudCarousel Class="mud-width-full"
                 ItemsSource="@_photoWindow"
                 ShowArrows="true"
                 ShowBullets="false"
                 EnableSwipeGesture="true"
                 @bind-SelectedIndex="_carosuelIndex"
                 AutoCycle="@_slideShowOn"
                 Style=@CarosuelHeightTemplate >

        <BulletTemplate Context="selected">
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)"
                             Color="@Color.Inherit" />
                </span>
            </div>
        </BulletTemplate>
        <PreviousButtonTemplate>
            <MudFab Color="Color.Success" @onclick="LastPhoto" Icon="@Icons.Filled.NavigateBefore"></MudFab>
        </PreviousButtonTemplate>
        <NextButtonTemplate>
                <MudFab Color="Color.Success" @onclick="NextPhoto" Icon="@Icons.Filled.NavigateNext"></MudFab>
        </NextButtonTemplate>

        <ItemTemplate>
            <img src=@GetB64Image(context.PhotoPath)/>
        </ItemTemplate>
    </MudCarousel>

        <MudPaper Style="height: 4%; margin-top: 1%">
            <MudStack Row="true" Justify="Justify.Center" Style="margin-top: 10px">
                @foreach (var photo in _lastPhotos)
                {
                    if (photo.Value != null && photo.Value.ThumbnailPath != null)
                    {
                        <MudImage ObjectFit="ObjectFit.Contain"
                          Fluid="false"
                          Height="25"
                          Width="25"
                          Elevation="25" Class="rounded-sm"
                          Src=@photo.Value.ThumbnailPath>
                        </MudImage>
                    }
                    else
                    {
                        <MudText>😔</MudText>
                    }
                }

                @if (_currentPhoto != null && _currentPhoto.ThumbnailPath != null)
                {
                    <MudImage Height="30"
                          Width="30"
                          Src="@_currentPhoto.ThumbnailPath" />
                }
                else
                {
                    <MudProgressCircular />
                }

                @foreach (var photo in _nextPhotos)
                {
                    if (photo.Value != null && photo.Value.ThumbnailPath != null)
                    {
                        <MudImage ObjectFit="ObjectFit.Contain"
                          Fluid="false"
                          Height="25"
                          Width="25"
                          Elevation="25" Class="rounded-sm"
                          Src=@photo.Value.ThumbnailPath>
                        </MudImage>
                    }
                    else
                    {
                        <MudText>😔</MudText>
                    }
                }
            </MudStack>
        </MudPaper>

        <MudPaper Elevation="25" Style="margin-top:10px">
            <MudToolBar>
                <MudPaper Style="height: 30px; padding: 2px; width: 300px">
                    <MudStack Row="true" Justify="Justify.Center">
                        <MudIcon Icon="@Icons.Filled.Height">Height</MudIcon>
                        <MudSlider @bind-Value="this.ImageHeight" Min="100" Max="2000">
                        </MudSlider>
                    </MudStack>
                </MudPaper>

                @if (!_slideShowOn)
                {
                    <MudStack Row="true">
                        <MudButton EndIcon="@Icons.Filled.PlayCircle" Color="Color.Success" OnClick="StartAutoPlay">Start Slideshow</MudButton>
                        <MudNumericField @bind-Value="SlideShowTimeSeconds" Label="Time Per Picture (s)" Variant="Variant.Outlined" Step=".25" Min="0.5" Max="3" />
                    </MudStack>
                }
                else
                {
                    <MudButton EndIcon="@Icons.Filled.StopCircle" Color="@Color.Error" OnClick="StopAutoPlay">Stop Slideshow</MudButton>
                }

            </MudToolBar>
        </MudPaper>
    </MudStack>
</MudContainer>
